@import "_home";
@import "_about";
@import url("https://fonts.googleapis.com/css?family=Poppins");


$primary: #7eaea2;
$primary2: #daf2ec;
$primary3: #7eaea2;

$secondary: #90bdb2;
$secondary2: #dff1e3;
$secondary3: #456a70;

$h1_weight: medium;
$h1_size: 14;

$h2_weight: medium;
$h2_size: 14;

$h3_weight: medium;
$h3_size: 14;

//mobile first desktop second
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-size: $h1_size;
}
body {
  .navbar-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}
//mobile navbar
.desktop-nav {
  display: none;
}
.mobile-nav {
  padding: 2rem 2rem;
  display: flex;
  // border: 1px solid red;
  align-items: center;
  justify-content: space-between;
  img {
    width: 100px;
  }
  .vorskin-logo {
    // width: 100%;
    // border: 1px solid red;
    height: 60px;
    width: 100%;
    display: flex;
    margin: 1rem auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/vorskin_logo_navbar.png");
  }
  .burger-navbar {
    background: url("../assets/burger_navbar.svg") no-repeat;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    // border: 1px solid red;
    position: sticky;
    position: -webkit-sticky;
  }
  .search-navbar {
    background: url("../assets/search_navbar.svg") no-repeat;
    background-size: cover;
    width: 1.8rem;
    height: 1.8rem;
    position: sticky;
    position: -webkit-sticky;
    // border: 1px solid red;
  }

  ul {
    z-index: 2;
    // transition: all 100s linear;
    // transition: width 2s, height 2s, background-color 2s, transform 2s;
    // transition-delay: 500s;
    // background: linear-gradient(135deg, #79f1a4 0%, #0e5cad 100%);
    background: $primary;
    padding: 0 1.5rem;
    text-align: left;
    width: 200px;
    left: -300px;
    top: 0;
    height: 100vh;
    list-style: none;
    transition: all 1s linear;
    display: none;
    position: absolute;
    li {
      // transition: all 100s linear;
      padding: 1rem 1.2rem;
      // border: 1px solid red;
      text-align: left;
      a {
        // transition: all 100s linear;
        //fonts here
        // font-family: "Roboto", sans-serif;
        font-size: $h1_size;
        font-weight: $h1_weight;
        color: white;
        text-decoration: none;
      }
    }
    ul:hover {
      background: black;
    }
    li:nth-child(1):hover {
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/vorskin_logo_navbar.png");
    }
  }
}
//End mobile navbar

//desktop navbar
@media only screen and (min-width: 768px) {
// here

  ul{
    list-style-type:none;
    margin:none;
    display:flex;
    justify-content:center;
    padding-top:10px;
    li{
      padding: 0 60px 0 60px;
    }
    a{
      color:#296544;
      font-weight: 500;
      font-size: 14px;
      text-decoration: none;
  }
  }





}
//end desktop navbar
